<div class="bg-light p-3">
<div class="container-fluid w-100">
    <h1>Portafolio</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
</div>
<div class="container d-flex justify-content-between">
    <div class="card border-0" style="width: 18rem;">
        <img class="card-img-top" src="https://www.hazunaweb.com/imagenes/prueba.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Imagen 1</h5>
          <p class="card-text">Some quick example text to build on the card.</p>
        </div>
      </div>
      <div class="card border-0" style="width: 18rem;">
        <img class="card-img-top" src="https://www.hazunaweb.com/imagenes/prueba.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Imagen 2</h5>
          <p class="card-text">Some quick example text to build on the card title and.</p>
        </div>
      </div>
      <div class="card border-0" style="width: 18rem;">
        <img class="card-img-top" src="https://www.hazunaweb.com/imagenes/prueba.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Imagen 3</h5>
          <p class="card-text">Some quick example text to build on the card title and.</p>
        </div>
      </div>
</div>
</div>